CLERK_JWT_ISSUER_DOMAIN="needs_to_be_provided"
CONVEX_DEPLOYMENT="needs_to_be_provided"
EXPO_PUBLIC_CONVEX_URL="needs_to_be_provided"
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY="needs_to_be_provided"
EXPO_PUBLIC_CONVEX_SITE_URL="needs_to_be_provided"
